@model  IEnumerable<string>



<details>
    <summary>Colors</summary>
    <ul>
        @foreach (var link in Model)
        {
            <li>
                @Html.RouteLink(link, new
           {
               controller = "Jeans",
               action = "Index",
               color = link,
               page = 1
           },
new
{
    @class = link == ViewBag.SelectedColor ? "selected" : null
})
            </li>
        }
            
        </ul>
    </details>



